body {
  font-family: Arial;
  margin: 0;
  background: #ffffff;
  max-width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  color: red;
  margin-top: 20px;
}

p {
  text-align: center;
}

/* TELAS */
.tela {
  display: none;
  padding: 10px;
}

.ativa {
  display: block;
}

/* LISTAS */
.scroll {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
}

/* CARDS */
.card {
  min-width: 160px;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

/* BOTÕES */
button {
  background: red;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  margin: 5px;
}

/* QUANTIDADE */
.quantidade {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

/* BOTÕES FIXOS */
.fixo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.fixo button {
  flex: 1;
}

/* CARRINHO */
#lista-carrinho {
  padding: 10px;
}
